/*博文列表*/
.article,.article-body,.article-footer{
    line-height:2;
}
.article-title a{
    line-height:1.5;   
    text-decoration:none;

}
.article-body{
    padding:10px;
    font-size:14px;
}
.article-link{
    text-align:right;	
}
.article-link a{text-decoration:none;}

.linedot{
    height:1px;
    background:url(images/linedot.gif);
    margin:10px 0;
    clear:both;
}